.dropdown{
    position: relative;
    margin: 20px;
}

.dropdown-content{
    position: relative;
    background-color: var(--main-color);
    width: var(--page-width);
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.8);
    padding: 1rem;
    box-sizing: border-box;
    z-index: 1;
}

.display-none{
    display: none;
}

.title{
    background-color: var(--main-color);
    margin: 0;
    padding: 0;
}

.title .title-header{
    color: var(--secondary-color);
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0;
    padding: 0;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
}

.gyarb h2{
    font-size: var(--fs-2);

}

.title .title-answer p{
    color: var(--secondary-color);
    margin: 0;
}

.gyarb{
    margin: 50px;
    width: var(--page-width);
    min-height: 60vh;
}




