body{
    margin: 0;
    padding: 0;
    min-height: 200vh;
    min-width: 100vw;
}

nav{
    background-color: beige;
    padding: 0;
    margin: 0;
    position: sticky;
    top: 0;
    
}

nav li{
    list-style-type: none;
    text-decoration: none;
    padding: 0;
    margin: 0;
}

nav ul{
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 0;
    margin: 0;
    height: 80px;
}

.container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.containerRow{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.intro{
    width: 75vw;
}

.imgPlacehold{
    width: 150px;
    height: 225px;
    margin: 0;
    padding: 0;
    background-color: darkgrey;
}