:root{
    --page-width:65vw;
    --main-color: #537a5a;
    --secondary-color:#ffffff;
    
    --fs-1:50px;
    --fs-2:30px;
    --fs-3:20px;

    --img-margin-padding:10px;
}

body{
    margin: 0;
    padding: 0;
    min-height: 100vh;
    min-width: 100vw;
    background-color: var(--secondary-color);
}
/*
NAVIGATION
*/
nav{
    background-color: var(--main-color);
    padding: 0;
    margin: 0;
    position: sticky;
    top: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}

nav ul {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0;
    margin: 0;
    flex-grow: 3;
}

nav li{
    list-style-type: none;
    text-decoration: none;
    margin: 0;
    padding: 0;
}

nav li a{
    font-size: var(--fs-1);
    padding: 0;
    margin: 0.5rem 2rem 0.5rem 2rem;
    color: black;
    text-decoration: none;
}

#logo{
    max-width: 280px;
    padding: 0;
    margin: 0.5rem;
}

.container{
    display: flex;
}

.column-center{
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.row-center{
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
/*
Padding and margin for all blocks
*/
.intro,.intro-tripple{
    margin-top: 50px;
    margin-bottom: 50px;
}

/*
INTRO
*/
.intro{
    width: var(--page-width);
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.intro-txt{
    display: flex;
    flex-direction: column;
    padding: 3rem;
}
.intro h2{
    font-size: var(--fs-1);
    border-bottom: solid;
    padding-bottom: 1rem;
    margin: 0;
}
.intro p{
    font-size: var(--fs-2);
}
.intro img{
    max-width: calc(var(--page-width)/2);
}

/*
Margin and padding for all images
*/
.image{
    margin: var(--img-margin-padding);
    padding: var(--img-margin-padding);
}
/*
INTRO-TRIPPLE
*/
.intro-tripple{
    width: var(--page-width);
    display: flex;
    flex-wrap: wrap;
    flex: 1;
    border-top: solid;
}

.intro-tripple img{
    width: 100%;
}

.intro-tripple .image{
    flex: 1;

    box-sizing: border-box;
} 

.intro-tripple .image p{
    font-size: var(--fs-2);
    text-align: center;
    padding: 15px;
    margin: 0;
    border-bottom: solid
}
/*
DROPDOWN
*/
.dropdown{
    position: relative;
    margin: 20px;
}

.dropdown-content{
    position: relative;
    background-color: var(--main-color);
    width: var(--page-width);
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.8);
    padding: 1rem;
    box-sizing: border-box;
    z-index: 1;
}

.display-none{
    display: none;
}

.question{
    background-color: var(--main-color);
    margin: 0;
    padding: 0;
}

.question .question-header{
    color: var(--secondary-color);
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0;
    padding: 0;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
}

.faq h2{
    font-size: var(--fs-2);

}

.question .question-answer p{
    color: var(--secondary-color);
    margin: 0;
}

.faq{
    margin: 50px;
    width: var(--page-width);
}
/*
FOOTER
*/
footer{
    position: relative;
    bottom: 0;
    width: 100vw;
    height: 25vh;
    background-color: var(--main-color);

    display: flex;
    justify-content:space-between;
    align-items: center;
}

footer ul{
    list-style: none;
}

footer ul li a{
    color: black;
    text-decoration: none;
}

.footer-links{
    font-size: var(--fs-1);
    display: flex;
    margin: 5rem;
}

.footer-links a{
    margin: 3rem;
    padding: 10px;
}

.footer-links a:hover{
    text-decoration: underline;
}

.footer-contact {
    font-size: var(--fs-1);
    margin: 5rem;
    border: solid 3px;
    border-radius:  30px;
    padding: 15px 25px 15px 25px;
}

.footer-contact h3{
    margin: 0;
    margin-bottom: 10px;
    text-decoration: underline;
}

@media screen and (max-width: 1750px){
    :root{
        --page-width:85vw;
    }
}

@media screen and (max-width: 1450px){
    :root{
        --page-width:100vw;
    }
}

