:root{
    --page-width:80vh;
}

body{
    margin: 0;
    padding: 0;
    min-height: 100vh;
    min-width: 100vw;
}

nav{
    background-color: beige;
    padding: 0;
    margin: 0;
    position: sticky;
    top: 0;
    
}

nav li{
    list-style-type: none;
    text-decoration: none;
    padding: 0;
    margin: 0;
}

nav ul{
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 0;
    margin: 0;
    height: 80px;
}

.container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.containerRow{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.intro{
    width: var(--page-width);
}

.imgPlacehold{
    width: 150px;
    height: 225px;
    margin: 0;
    padding: 0;
    background-color: darkgrey;
}

.teamPics{
    width: var(--page-width);
}

.faq{
    width: var(--page-width);
}

.dropdown{
    position: relative;
}

.dropdown-content{
    position: relative;
    background-color: #f9f9f9;
    width: var(--page-width);
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    padding: 12px 16px;
    z-index: 1;
}

.display-none{
    display: none;
}

/* .dropdown:hover .dropdown-content{
    display: block;
} */

