.display-none{
    display: none;
}

.title{
    background-color: var(--main-color);
    margin: 0;
    padding: 25px;
}

.title .title-header{
    font-size: var(--fs-3);
    color: var(--secondary-color);
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0;
    padding: 0;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
}

.title .title-answer p{
    color: var(--secondary-color);
    margin: 0;
}

.gyarb{
    margin: 30px;
    width: var(--page-width);
    overflow-y: hidden;
    display: flex;
    height: var(--main-element-hight);
}

.work-link{
    position: relative;
    text-decoration: none;
}

body{
    max-height: 100vh;
}

.work-list{
    flex:1;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

#forwards,#backwards{
    border: solid black;
    border-width: 0 4px 4px 0;
    display: inline-block;
    padding: 10px;
    margin: 5px;
    align-self: center;
}

#forwards{
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);  
}

#backwards{
    transform: rotate(135deg);
    -webkit-transform: rotate(135deg);
}

.upload{
    text-decoration: 0;
    color: white;
    background-color: var(--main-color);
    width: 12rem;
    height: 3rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 25px;
}

.upload p{
    font-size: var(--fs-3);
}

#page{
    width: 1.5rem;
    margin-bottom: 10px;
    align-self: flex-end;
}








