.gyarb{
    border: solid;
    border-radius: 20px;
    margin: 50px;
    width: var(--page-width);
    min-height: 60vh;
   
}

.text-info{
    margin: 10px 60px;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    border-bottom: solid;
}

.text-info .subject,.text-info .author{
    font-size: var(--fs-2);
}
.text-info .title {
    font-size: var(--fs-1);
}
 

.text-main p{
    margin: 20px 60px;
    min-height: 45vh;
}

.text-footer{
    margin: 0px 60px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
