.container .gyarb{
    display: flex;
    justify-content: center;
    min-height: var(--min-element-height);
}

.gyarb{
    margin: 30px;
    
}

form{
    display: flex;
    flex-direction: column;
    width: var(--page-width);
}

form .form-text label textarea{
    height: 60vh;
    width: 100%;
    padding: 0;
    box-sizing: border-box;
}

form .form-info{
    display: flex;
    width: 100%;
    justify-content: space-between;
    margin-bottom: 20px;
}

form .form-end input{
    margin-left:20px ;
    flex: 1;
    box-sizing: border-box;
}

form .form-end{
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
    width: 100%;
    height: 2.5vh;
}

form .form-info .title{
    flex: 1;
    display: flex;
}
form .form-info .title input{
    flex: 1;
    margin: 0px 5px
}









